*{
    font-family: 'bahnschrift';
}

*:focus {
    outline:0;
}

body {
    background: #222;
}

div {
    user-select: none;
    overflow: hidden;
}

#counter {
    background-color: #000;
    color: limegreen;
    margin: 0 auto;
    width: 90%;
    max-width: 768px;
    height: 60px;
    top: 10px;
    left: 10px;
    right: 10px;
    font-size: 50px;
    text-align: left;
}

#res_amount {
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
}

#panels {
    margin: 0 auto;
    width: 256px;
    position: relative;
   
}

#clicker_container {
    width: 256px;
    height: 256px;
    top: 10px;
    display: block;
    position: relative;
    background-color: #333;
}

#clicker {
    position: relative;
    margin: 16px;
    width: 224px;
    height: 224px;
    border-width: 0px;
    background-color: #009999;
    cursor: pointer;
    transition: transform .05s;
}

#clicker:hover {
    transform: scale(1.05);
}

#clicker:active {
    transform: scale(1);
}

.upgrade_container {
    width: 256px;
    height: 212px;
    top: 20px;
    position: relative;
    background-color: #333;
}

#shop_header {
    width: 256px;
    height: 32px;
    margin-top: 8px;
    border-bottom-color: #666;
    border-bottom: 100px;
}

#shop_header_text {
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.itemName {
    width: 80px;
    height: 48px;
    float: left;
    top: 10px;
    margin: 5px;
    margin-left: 10px;
    padding: 8px;
    border-width: 0px;
    background-color: #444;
    text-align: center;
    color: #fff;
}

.item {
    width: 96px;
    font-size: 24px;
}

.itemPrice {
    color: #999;
    font-size: 16px;
}

.shopButton {
    width: 64px;
    height: 64px;
    float: left;
    margin: 5px;
    margin-bottom: 0px;
    margin-right: 0px;
    border-width: 0px;
    background-color: #444;
    font-size: 32px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: transform .05s;
}

.shopButton:hover {
    transform: scale(1.1);
    background-color: #555;
    
}

.shopButton:active {
    transform: scale(1);
    background-color: #505050;
}

.itemAmountContainer {
    margin-top: 10px;
    color: #111;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}